* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    background-color: rgb(186, 196, 255);
    font-size: 1rem;
}

.menu{
    display: flex;
    justify-content: space-around;

}
header{
    background-color: rgb(45, 85, 196);
    padding: 20px 40px;
    width: 100%;
}


.lista-vertical,
.lista-horizontal{
    display: flex;
    gap: 20px;
list-style: none;
}

.lista-vertical li a{

}
